h1 {color: aqua;
Text-align: center;
background-image: url("https://cdn.pixabay.com/photo/2019/06/10/15/11/basketball-4264543_960_720.png")}


p {color: black;
Text-align: center;}
h2 {color: black;
Text-align: center;}


